<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8" />
    <!-- Title of the Admin Pages -->
    {%block title %} {% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.ico">

    <!-- jsvectormap css -->
    <link rel="stylesheet" type="text/css" href="../../../assets/libs/jsvectormap/css/jsvectormap.min.css" />

    <!-- gridjs css -->
    <link rel="stylesheet" type="text/css" href="../../../assets/libs/gridjs/theme/mermaid.min.css">

    <!-- Layout config Js -->
    <script src="../../../assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap.min.css" />
    <!-- Icons Css -->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/icons.min.css" />
    <!-- App Css-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/app.min.css" />
    <!-- custom Css-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/custom.min.css" />
</head>

<body>
    <!-- This Block holds the main HTML content of the Dashbaord -->
    {% block content %} {% endblock content%}


    <!-- JAVASCRIPT -->
    <script src="../../../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../../../assets/libs/node-waves/waves.min.js"></script>
    <script src="../../../assets/libs/feather-icons/feather.min.js"></script>
    <script src="../../../assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="../../../assets/js/plugins.js"></script>

    <!-- apexcharts -->
    <script src="../../../assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="../../../assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="../../../assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!-- gridjs js -->
    <script src="../../../assets/libs/gridjs/gridjs.umd.js"></script>

    <!-- Dashboard init -->
    <script src="../../../assets/js/pages/dashboard-job.init.js"></script>

    <!-- App js -->
    <script src="../../../assets/js/app.js"></script>
</body>

</html>